@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Arial, sans-serif;
    color: #040620;
    /* CSS3 Angle Linear Gradient Background */ 
    background: #040620;
    background: -moz-linear-gradient(135deg, #040620 0%, #500C0C 100%);
    background: -webkit-linear-gradient(135deg, #040620 0%, #500C0C 100%);
    background: linear-gradient(135deg, #040620 0%, #500C0C 100%);
}

/* Fluid 100% wrapper container for phones */ #wrapper {
    width: 100%;
    /* Sized to 100% width to fit small mobile screens */ 
    margin: 0px;
    background-color: #F2E8C0;
    border: none;
}

/* Float termination class */
.clear {
    clear: both;
}